<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>
<div>
<h1>For Admin</h1>
    <%= link_to "Sign Up", new_admin_registration_path %>
    <%= link_to "Sign In", new_admin_session_path %>
 
</div>
<div>
<h1>For Seller</h1>
<%= link_to "Sign up", new_seller_registration_path%>
<%=link_to "Sign In", new_seller_session_path%>
</div>
<div>
<h1>For Customer</h1>
    <%=link_to "Sing up", new_customer_registration_path%>
    <%=link_to "Sign In", new_customer_session_path%>
</div>
