<%=render 'layouts/adminbar'%>
<div style="margin:50px 0 0 45%; position:fixed; width:60%;">
<p id="notice"><%= notice %></p>

<p>
  <strong>Orderdate:</strong>
  <%= @order.orderDate %>
</p>

<p>
  <strong>Status:</strong>
  <%= @order.status %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @order.quantity %>
</p>

<p>
  <strong>Totalprice:</strong>
  <%= @order.totalPrice %>
</p>

<p>
  <strong>Cart:</strong>
  <%= @order.cart_id %>
</p>

<p>
  <strong>Customer:</strong>
  <%= @order.customer_id %>
</p>

<p>
  <strong>Good:</strong>
  <%= @order.good_id %>
</p>

<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
</div>
