<%= form_with(model: good, local: true) do |form| %>
  <% if good.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(good.errors.count, "error") %> prohibited this good from being saved:</h2>

      <ul>
        <% good.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%=form.file_field :image %>
  </div>
  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :price %>
    <%= form.number_field :price %>
  </div>

  <div class="field">
    <%= form.label :measurement %>
    <%= form.text_field :measurement %>
  </div>

  <div class="field">
    <%= form.label :expireDate %>
    <%= form.date_select :expireDate %>
  </div>

  <div class="field">
    <%= form.label :about %>
    <%= form.text_area :about %>
  </div>

  <div class="field">
    <%= form.label :seller_id %>
    <%= form.hidden_field :seller_id, :value => current_seller.id %>
  </div>

  <div class="field">
     <%= collection_select(:good, :category_id, Category.all, :id, :name, {}, { :multiple=>false}) %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
